<%provide(:title, 'New Doctor - Manager') %>
<%provide(:button_text, 'Create') %>
<div class="row">
	<div class="large-6 large-offset-3 columns">
		<h2 class="chrms-font text-center">Fill</h2>
		<%= render "manager/shared/D_form" %>
	</div>
</div>