<%provide(:title, 'New Staff - Manager') %>
<%provide(:button_text, 'Create') %>
<div>
      <div class="large-4 columns">
         <h1 class="chrms-font">/new staff</h1>
         
         <ul class="menu vertical">
            <li><%= link_to 'Back', manager_dashboard_path, class: "site-links"%></li>
         </ul>
         
   </div>
</div>
<div class="row">
	<div class="large-4 columns">
		<h2 class="text-center chrms-font">Fill Information</h2>
			<%= render "manager/shared/S_form" %>
	</div>
	<div class="large-4 columns">
			Themes let you apply a consistent tone to an app. The theme specifies the darkness of the surfaces, level of shadow, and appropriate opacity of ink elements. To promote greater consistency between apps, light and dark themes are available to choose from.
	</div>
		
</div>