<%provide(:title, "Manager's - Dashboard") %>
<div>
      <div class="large-3 columns">
         <h1>Left Links</h1>
         
         <ul class="menu vertical">
            <li><%= link_to 'Add new doctor', manager_dashboard_doctor_add_path, class: "site-links" %></li>
            <li><%= link_to 'Add new staff', manager_dashboard_staff_add_path, class: "site-links"%></li>
         </ul>
         
   </div>
</div> 
   
<div class="row">
   
   <div class="large-5 columns">
   		<table>
            <tr>
               <th>Doctor's Names </th>
               <th>Contact</th>

            </tr>
              <% if @doctors.present? %>

              <% @doctors.each do |doctor| %>
                <tr>
                     <td><%= doctor.name %></td>
                      <td>No contact</td>
                </tr>
              <% end %>
                
              <%else%>
               
              <tr>
                    
                  <td>No doctor</td>
                  <td>No contact</td>

                </tr>
            <%end%>
            

         </table>
   </div>
   <div class="large-4 columns">
         <table>
            <tr>
               <th>Staffs Names</th>
            </tr>
            <% if @staffs.present? %>
               <% @staffs.each do |staff| %>
                <tr>
                     <td><%= staff.name %></td>
                </tr>
              <% end %>
            <%else%>
              
              <tr>
                  <td>no staff</td>
              </tr>
                

            <% end %>   

         </table>
   </div>
</div>
