<% flash.each do |message_type, message| %>

    <div class="<%=message_type %>" data-closable>
  		<!--<button class="close-button" data-close>&times;</button>-->
  		<p style="text-align: center"><%= message %>.</p>
	</div>

<% end %>

