<div class="large-12"  style="background: #00695C">
<div class="row">
<div class="large-12 columns text-center" style="padding-top: 15px;">
	<p style="color: #FAFAFA">
	Copyright © 2016 - All rights reserved. Built on HRMS
	</p>
</div>
</div>