<main-header>
	<div class="top-bar"  style="background: #00695C;">
  		<div class="top-bar-title" style="margin-top: 5px;">
    		<span data-responsive-toggle="responsive" data-hide-for="medium">
     			<button class="menu-icon black" type="button" data-toggle></button>
    		</span>
    		<strong>CHRMS</strong>
  </div>
  <div id="responsive">
   
    <div class="top-bar-right">
      <ul class="menu" style="background: #00695C">
        <li><%=  link_to 'LOGIN', login_path, class: 'fi-arrow-right'%></li>
      </ul>
    </div>
    <div class="menu-centered">
      <ul class="menu main">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
</main-header>