<div class="float-right">
<%= form_tag chrms_doctors_dashboard_path, :method => 'get', id: "demo-2" do %>
						  <p style="margin-top: 5px">
						    <%= text_field_tag :search, params[:search],
						     placeholder: "search token here", type: "search"%>
						  </p>
<% end %>
</div>

