      <h3 class="chrms-font" style="color: #878787">Dr. <%= current_doctor.surname%>, you are welcome to CHRMS</h3>
                           <p>
                              We will give you a tour around the application since you are new and you don't have any referrals made<br> by others to you at the moment
                              <%if @mades.count == 0 %>
                              . <br>
                               <%else%>
                               but we can see that you have referred <%=pluralize(@mades.count, 'patient')%>. <br>
                              <%end%>
                              
                              In <strong>CHRMS</strong>, you will find.
                           </p>
                           <ol>
                              <li>Accounts Settings</li>
                              <li>Dashboard</li>
                              <li>Referred Doctors</li>
                              <li>Referrals Made</li>
                              <!--<li>Unapproved Request</li>-->
                           </ol>

                           
                           <div class="callout primary2" data-closable>
                              <h5 class="chrms-font">Accounts Settings</h5>
                               <%if current_doctor.photo_file_name.nil?%>
                              <p>Please <strong>CHANGE</strong> the default profile picture on the left side using this link <%=link_to "upload profile picture", doctor_dashboard_edit_path(current_doctor.name)%></p>
                              <%end%>
                              <p>Account settings gives you the power to change what other hospitals and doctors sees. You can upload your profile picture inside account settings, edit you surname, given names if you made errors when completing your registration process. You can also see your account summary inside account settings</p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>

                           <div class="callout primary2" data-closable>
                              <h5 class="chrms-font">Dashboard</h5>
                              <p>
                                 Dashboard shows you all request made by other doctors, you can also search patients by their identity number on your dashboard. The search can be identify by this <i class="fi-magnifying-glass"></i> icon, by default the search is hidden, to open it you just click on the the icon and the search will be revealed.
                              </p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>

                            <div class="callout primary2" data-closable>
                              <h5 class="chrms-font">Referred Doctors</h5>
                              <p>
                                 Referred Doctors shows doctors by their hospital in which they are currently, you can choose which doctor your want to see by selecting filter by hospital.
                                 This will give you only doctors which are in the choosen hospital, making you to be specific when you want to refer your patient
                              </p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>

                              <div class="callout primary2" data-closable>
                              <h5 class="chrms-font">Referrals Made</h5>
                              <p>
                                 Here you will get a run down of all the request you have made, you can also view the details of each patient your referred.
                              </p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>