<div class="orbit large-12" role="region" aria-label="Favorite Space Pictures" data-orbit >
  	<ul class="orbit-container">
        

      <!--<li class="is-active orbit-slide">
        <img class="orbit-image" src="/assets/bg2.jpg" alt="Space">
        <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
      </li>-->

      <li class="orbit-slide">
      <%= image_tag('clinic.jpg', class: 'orbit-image', alt: "clinic") %>

        <figcaption class="orbit-caption">
        <h4 class="chrms-font">Clinic Aid</h4>
        <p>Providing a means by which clinic will have direct aid from others clinic / specialised facility</p>
        </figcaption>
      </li>

      <li class="orbit-slide">
        <%= image_tag('referral.jpg', class: "orbit-image", alt: "Space") %>
        <figcaption class="orbit-caption">
        <h4 class="chrms-font">Simplicity and Efficiency</h4>
        <p>This is what makes CHRMS what is it, we make your referral processes very simple </p>
        </figcaption>
      </li>

      <li class="orbit-slide">
        <%= image_tag("network.jpg", class: "orbit-image", alt: "network") %>
        <figcaption class="orbit-caption">
          <h4 class="chrms-font">Network Of Doctors</h4>
          <p>We provide a network of physicians all around Cameroon, to come together and solve medical problems</p>
        </figcaption>
      </li>

  </ul>
  <!--<nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>-->
</div>