<%provide(:title, "Home - CHRMS") %>
<div class="large-12 image_background" >
	<div class="row">
		
	</div>
	<div class="row" style="margin-left: 0rem">
		<div class="large-6 columns display" style="margin-top: 17rem">
			<%= render "slide_show"%>
		</div>
		
	</div>
	
</div>

<%= render "layouts/shared/header" %>
<div id="inner" class="large-12">
	<div class="features">
	  <div class="feature-intro">
	    <h1 class="text-center chrms-font">
	      Why you should use CHRMS ?
	    </h1>
	  </div>
	</div>

	<div class="row" style="margin-top: 1rem">
	<div class="large-6 columns unity">
	<h3 class="chrms-font" style="color: #80CBC4; text-align: right">We Believe In Unity <i 
	style="padding: 10px; color: red"><%=image_tag('relationship.svg', class: "processing")%></i>
	</h3>
		<p>
			Connecting doctors is our vision. Doctors Know other doctors but knowing basic information about the other doctor has being a problem when it comes to referring patients to those doctors.
			CHRMS as come in to create that link so that doctors will have full information about other doctors, which hospital and which town the doctors are, making it very simple and specific when referring a patient to other hospitals and which department that patient should go. With all this doctors have the ability to check regularly the status of their referred patient. All that is handled by CHRMS.
		</p>
		<h3 class="chrms-font" style="color: #80CBC4;">High Quality Referral</h3>
		<p>
			Being competent at referring you do is just one aspect of high quality care. Treating your     
		    patients with respect, taking time to answer their questions, and checking up on them after treatment builds your reputation as a provider that cares. CHRMS helps you to get that compentency by providing you with regular patients referrals check ups and notify the reffered doctor if he or share forgot about the case.
		</p>
	</div>
	<div class="large-6 columns" style="text-align: left">
	<h3 class="chrms-font" style="color: #80CBC4"><i style="padding: 10px"><%=image_tag('processing.svg', class: "processing") %></i>Simple Referral Processing</h3>
		<p>
			Referring patients to other hospitals or to other doctors by written notes is really resource consuming and ineffient when it comes to keeping track of the patient status.
			With CHRMS simple referral processing forms, you get to write what you want most from the other facility. We handle the load for you and keep track of your referrals and by updating you when your patient was received by the facility. The forward and backward process of referring and getting back your patient makes CHRMS very simple. Doctors don't have to worry about the referral they have made, because CHRMS does all the worrying for you.  
			
		</p>

		<h3 class="chrms-font" style="color: #80CBC4">Primary - Tertiary HC</h3>
		<p>
			A high proportion of patients seen in tertiary health facilities is due to them not being referred. The result of this is overcrowding of the tertiary health facilities with problems that can be managed at the lower levels. High skilled manpower and equipments are wasted on health problems requiring lesser resources to solve.
			In CHRMS every patient needs to be reffered and given a <strong>TOKEN</strong> to carry along when visiting the tertiary health facility.
		</p>
		
	</div>
	</div>

	
</div>
	<div class="row" style="margin-bottom: 2rem">
		<div class="large-6 large-offset-3 columns text-center">
			<hr class="horizontal-line">
			<h3 class="chrms-font" style="letter-spacing: .5rem; color: #094c21">AIM</h3>
			<blockquote>
				<p class="chrms-font" style="font-size: 1.2rem">
					 Primary health centers (PHCs) supposed to be the point of first contact of patients.
				</p>
			</blockquote>
		</div>
	</div>






