<%provide(:title, "Home - CHRMS") %>
<div class="large-12" style="height: 610px; background: #ffffff;" >
	<h2 style="text-align: center">Welcome to CHRMS</h2>
	<div class="row">
		<div class="large-12 columns text-center">
		<div style="margin-top: 50px">
			<%= link_to "HOSPITAL", "#", class: 'button radius secondary', style: 'color: black' %>
		</div>
		
	</div>
	</div>
	
</div>

<%= render "layouts/shared/header" %>
<div id="inner" class="large-12">
	<div class="features">
  <div class="feature-intro">
    <h1 class="text-center">
      Why you should use CHRMS
    </h1>
  </div>
</div>

	<div class="row">
	<div class="large-6 columns" style="text-align: right">
	<h2 style="color: #80CBC4">We Believe In Unity <i class="fi-torsos-all" style="padding: 10px"></i></h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		
			
		</p>
	</div>
	<div class="large-6 columns" style="text-align: left">
	<h2 style="color: #80CBC4"><i class="fi-shield" style="padding: 10px"></i>  Data Protection</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			
		</p>
	</div>
	</div>

	<div class="row">
	<div class="large-6 columns" style="text-align: right">

	<h2 style="color: #80CBC4">Easy To Use <i class="fi-universal-access" style="padding: 10px"></i> </h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		
			
		</p>
	</div>
	<div class="large-6 columns" style="text-align: left">
	<h2 style="color: #80CBC4"><i class="fi-eye" style="padding: 10px"></i> 24/7 Live Support</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			
		</p>
	</div>
</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<hr class="horizontal-line">
			<h3>Tons of hospitals</h3>
			<a href="#" class="button radius chrms large-2">View Hospitals</a>
		</div>
	</div>






