<%provide(:title, 'Login Panel - CHRMS')%>
<div class="row">
	<div class="row">
		<div class="large-12 columns text-center" style="margin-bottom: 2rem">
			<h1 class="chrms-font">
				<%=t('.login_caption') %>
			</h1>
		</div>
	</div>
<div class="row">
	<div class="large-6 large-offset-3 columns text-center">
		<div class="card">
          <div class="content">
          	<p style="font-size: 1.2rem">
            	<%=t('.login_doctors') %>
            </p>
            <h1 class="chrms-font"><%= link_to t('.doctors'), login_panel_doctors_login_path %></h1>
          </div><!--end card class here-->

        </div>
	</div>
</div> 
</div>