<%provide(:title, "Privacy Policy") %>
<div class="row">
	<div class="large-12 columns">
			<h1 class="text-center chrms-font" style="margin-top: 2rem">
				CHRMS Privacy Policy
			</h1>
			<hr class="horizontal-line">
			<ol>
				<li>
					<h4 style="margin-left: 3rem">
						Purpose of this policy
					</h4>
				</li>
					<p style="margin-left: 3rem">
						 CHRMS collects the personal information (including health information) of patients and service providers. The personal information collected will depend on the nature of the individual’s relationship or interaction with facilties and its staff. CHRMS will only collect personal information where it is reasonably necessary for, or directly related to, one or more of its functions or activities.
						 This Privacy Policy explains how CHRMS protects the personal information of the 
						 individuals we work with and service. In particular, this policy aims to ensure that CHRMS staff maintain patient privacy and confidentiality at all times, and understand their obligations under the relevant laws. The policy deals with the collection, storage of personal information within all parths of CHRMS. The CHRMS policy on privacy is: CHRMS is committed to protecting a patient’s privacy and confidentiality.
					</p>

				<li>
					<h4 style="margin-left: 3rem">
						Types of Personal Information we collect
					</h4>
				</li>
				<h5><span>2.1</span>   <span style="text-decoration: underline">Patient</span></h5>
					<p style="margin-left: 2.5rem">
						CHRMS collects information about patients in order to properly give other facilites much details to carry out investigation and deliver appropriate treatment and improve health. 
						Each patient of CHRMS has a patient record that is updated at every attendance. The type  of information collected includes (but is not limited to): 
					</p>
					<ul style="margin-left: 3.5rem">
						<li>
							contact details (name, address, telephone number, identity card number);
						</li>
						<li>
							age, gender, marital status;
						</li>
						<li>
							Medicare number;
						</li>
						<li>
							medical history, treatment records, family medical histories;
						</li>
						<li>
							referrals to and from other practitioners and their reports.
						</li>
					</ul>

				<h5><span>2.2</span>   <span style="text-decoration: underline">Website visitors</span></h5>
				<p style="margin-left: 2.5rem">
					For our website visitors, we collect information such as your IP address, internet service provider, the web page directing you to our website and your activity on our website. This information is usually anonymous and we do not use it to identify individuals. However, due to the nature of internet protocols, such information might contain details that identify you.
				</p>
				<h5><span>2.3</span>   <span style="text-decoration: underline">Health providers</span></h5>
				<p style="margin-left: 2.5rem">
					We collect personal information regarding health providers (for example, 
					general practices, allied health providers, government agencies), and their employees to 
					better understand and improve the health system.
				</p>
				<p style="margin-left: 2.5rem">
					The type of information collected can include:
				</p>
				<ul style="margin-left: 3.5rem">
					<li>name;</li>
					<li>contact details;</li>
					<li>role / health services provided; and</li>
					<li>connection with CHRMS.</li>
				</ul>
				<li>
					<h4 style="margin-left: 3rem"> How we collect your information</h4>
					<p style="margin-left: 3rem">
						CHRMS will only collect health information that is necessary to perform its functions. 
					</p>
					<p style="margin-left: 3rem">
						Staff will always try to collect information in a fair, lawful and non-intrusive  manner. Wherever possible, staff will collect  information  directly  from  the  patient (where it is reasonable and practical to do so) rather than from third parties.
					</p>
					<p style="margin-left: 3rem">
						If information is collected from a third party, all endeavours will be made to inform  the patient. Information will be provided to patients advising them of why we are collecting information, any laws that require information to be collected, the organisations or types of organisations to whom we usually disclose the information and the consequences of not providing information.
					</p>
				</li>

				<h5><span>3.1</span>   <span style="text-decoration: underline">Patients</span></h5>
				<p style="margin-left: 2.5rem">
					CHRMS usually collect personal information directly from individuals and their representatives unless it is unreasonable orimpracticable to do so. We collect health and sensitive information with your consent in a fair and unobtrusive way.
				</p>
				<p style="margin-left: 2.5rem">
					We also collect information about patients from:
				</p>
				<ul style="margin-left: 3.5rem">
					<li>patients and their representatives through forms;</li>
					<li>referrers and third parties (e.g. specialists facilities); and</li>
					<li>publicly available sources of information.</li>
				</ul>

				<h5><span>3.2</span>   <span style="text-decoration: underline">Website visitors</span></h5>
				<p style="margin-left: 2.5rem">
					We collect data from our website using various technologies, including cookies. A cookie is a text file that our website sends to your browser which is stored on your computer as a tag identifying your computer to us. You can set your browser to disable cookies.  However, some parts of our website may not function properly (or at all) if cookies are disabled.
				</p>
				<h5><span>3.3</span>   <span style="text-decoration: underline">Health providers</span></h5>
				<p style="margin-left: 2.5rem">
					We generally collect personal information directly from individuals. However, for some health providers, we may collect your personal information from your colleagues or other health providers or clients.
				</p>

				<li>
					<h4 style="margin-left: 3rem">Purpose of collection</h4>
					<p style="margin-left: 3rem">
						We generally only use personal information for the primary purpose for which we  collect the information, which purposes are set out below, or a secondary purpose related to the primary purpose which you would reasonably expect us to use the collected information.  
					</p>
					<p style="margin-left: 3rem">
						We will make you aware of the purpose for which we collect your information by notifying you about all the relevant matters of that collection.   
					</p>
					<p style="margin-left: 3rem">
						We will not use your information for an unrelated secondary purpose unless we obtain your written consent or where it is impracticable to obtain your consent and we believe that collecting, using or disclosing your information is necessary to lessen a serious threat to the life, health or safety of any individual.   
					</p>

				</li>
				<h5><span>4.1</span>   <span style="text-decoration: underline">Patients</span></h5>
				<p style="margin-left: 2.5rem">
					We collect and use personal and health information for the primary purpose of providing health services and diagnosing conditions.
				</p>
				<p style="margin-left: 2.5rem">
					The following are specific examples of when we collect and use your personal information:
				</p>
				<ul style="margin-left: 3.5rem">
					<li>to make appointments and send reminder notices;</li>
					<li>to maintain your personal information, our client records and other medical registers;</li>
					<li>to disclose your health information to paramedics and health professionals in a medical emergency;</li>
					<li>to use de-identified information to model or forecast service demand;</li>
					<li>o improve our services through quality improvement activities, audits, surveys and program evaluations.</li>
				</ul>
				<h5><span>4.2</span>   <span style="text-decoration: underline">Website visitors</span></h5>
				<p style="margin-left: 2.5rem">
					We use information regarding website visits for the purposes we collected it. We may also use your information to personalise your website visit or to enable remarketing website functionality.
				</p>

				<h5><span>4.3</span>   <span style="text-decoration: underline">Health providers</span></h5>
				<p style="margin-left: 2.5rem">
					We collect personal information regarding the employees, volunteers and officers of our health providers:
				</p>
				<ul style="margin-left: 3.5rem">
					<li>
						to pursue collaborative projects and matters of common interest(e.g. referral, shared maternity care and community outreach programs);
					</li>
					<li>
						in the course of contracting with them or arranging for the delivery of health services for clients; and
					</li>
					<li>
						to distribute information about our activities and publications by way of  direct communications/marketing to improve our health system and the health of our clients.
					</li>

				</ul>
				<p style="margin-left: 2.5rem">
					We may collect personal information regarding your interests to personalise your interactions with us.
				</p>
			<li>
				<h4 style="margin-left: 3rem">Data security and retention</h4>
				<p style="margin-left: 3rem">
					Personal information kept in electronic and hard copy is controlled, monitored and restricted to relevant staff and authorised external users only. Security safeguards are in place to ensure information is protected against loss,modification,   disclosure,unauthorised access or misuse.
				</p>

				<p style="margin-left: 3rem">
					Outside service contractors are required as part of their contract conditions to abide by the CHRMS Privacy Policy. All outside service contractors must demonstrate they comply with both State and Commonwealth privacy laws.
				</p>
				<p style="margin-left: 3rem">
					All documents containing personal information must be destroyedor permanently  de-identifiedin a secure and confidential manner. 
				</p>
			</li>

			<li>
				<h4 style="margin-left: 3rem">Making information available to another health service provider</h4>
				<p style="margin-left: 3rem">
				An individual’s health information may be made available to another health service provider where the individual has directly requested CHRMS to provide the information, or has authorised another health service provider to obtain the information from CHRMS may be disclosed to another health service provider.
				</p>
			</li>
			<li>
				<h4 style="margin-left: 3rem">Privacy infringements</h4>
				<p style="margin-left: 3rem">
				All suspected infringements of privacy will be thoroughly investigated. Disciplinary action will be taken in cases where investigations or suspected infringements of privacy are proven.
				</p>
			</li>

			<li>
				<h4 style="margin-left: 3rem">Access and correction</h4>
				<p style="margin-left: 3rem">
				Personal information held by Northern Health may be accessed at any time, upon written request. We will respond within a reasonable time after the request is made and give access to the information in the manner requested by you, unless it is impracticable to do so. We are entitled to charge you a reasonable administrative fee for giving you access to the information requested.
				</p>
			</li>
			</ol>
	</div>
</div>














