<%provide(:title, "Login Doctor - CHRMS") %>
<%provide(:button_text, 'Login') %>
<div class="row">
	<div class="large-6 large-offset-3 columns">
		<h1 class="text-center", style=" font-family: courier;">Login</h1>
		<%= render 'doctors/shared/login_form' %>
	</div>
</div>