<%provide(:title, "Login Doctor - CHRMS") %>
<%provide(:button_text, 'Login') %>
<div class="row">
	<div class="large-6 large-offset-3 columns">
		<h1 class="text-center chrms-font">Login</h1>
		<%= render 'login_sessions/shared/login_form' %>
	</div>
</div>