<%provide(:title, "Referral Back Slip - CHRMS") %>
<%provide(:button_text, "Submit") %>
<div class="row">
	<div class="large-8 columns">
		<h4 class="text-center chrms-font" style="font-size: 2rem; margin: 1.4rem 0 1.4rem 0">Referral Back Slip</h4>
		<%= render "doctors/shared/referral_back_slip" %>
	</div>
	<div class="large-4 columns">
		<h5 class="chrms-font text-center" style="margin: 1rem 0 0 0"></h5>
		<p>
			
		</p>
	</div>
</div>