<%provide(:title, "Referral Back Slip - CHRMS") %>
<%provide(:button_text, "Submit") %>
<div class="row">
	<div class="large-8 columns">
		<h4 class="text-center">Referral Back Slip</h4>
		<%= render "doctors/shared/referral_back_slip" %>
	</div>
</div>