<%provide(:title, "Request Referral - CHRMS")%>
<%provide(:button_text, "Submit") %>
<div class="row">
	<div class="large-4 columns">
		<h2>Referral Form</h2>
		<%= render "doctors/shared/referral_form" %>
	</div>
</div>