<%provide(:title, "Request Referral - CHRMS")%>
<%provide(:button_text, "Submit") %>
<div class="row">
	<div class="large-6 large-offset-3 columns">
		<h2 class="text-center" style="font-family: courier">Referral Form</h2>
		<%= render "doctors/shared/referral_form" %>
	</div>
</div>