<%provide(:title, "Doctor's Dashboard - CHRMS") %>
<div class="large-3 columns">
	<table>
		<tr>
			<th>Heading</th>
		</tr>
		<tr>
			<td>New Referals</td>
		</tr>
		<tr>
			<td>Patient</td>
		</tr>
		<tr>
			<td><%= link_to 'Messages' %></td>
		</tr>
		<tr>
			<td>Settings</td>
		</tr>
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<h1>Dashboard</h1>
   </div>
</div>

