<%provide(:title, "Doctor's Dashboard - CHRMS") %>
<div class="large-3 columns">
	<table>
<td><h4>Etinge</h4></td>
		<tr>

			<td>
				<%=image_tag('doctor.jpg', style: 'width: 100%; height: 10rem') %>
			</td>
		</tr>
		<tr>
			<td>Add to homepage</td>
		</tr>
		<tr>
			<td>View my account</td>
		</tr>
		<tr>
			<td>Patient</td>
		</tr>
		<tr>
			<td><%= link_to 'Messages' %></td>
		</tr>
		<tr>
			<td>Setup Notifications</td>
		</tr>
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<h4>Guick Links</h4>
   			</div>
   		</div>
   </div>
</div>

