.login-design {
	background: #f5f5f5;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: .4rem;
	font-family: courier;
}
.hospital_filter li a{
	color: #335C7D;
}


.hospital_filter li a:hover{
	color: #627c91;
	background-color: #dddddd;
}
p a {
	color: #2198af;
}
p a:hover {
	color: #116272;
}

.gravatar {
	width: 100%;
	height: 18rem;
	padding: 0;
}

#error_explanation{
  color: #e04a4a;
  ul {
    color: #e04a4a;
    margin: 4px 0 20px 0;
  }
}
 .field_with_errors {
 	border-left: .3rem solid #ffc6c6;
 	border-radius: 1rem;
 	
 }
 .primary2 h5{
  color: #2198af;
 }
 .reveal.large {
 	border-radius: .3rem;
 }
