.footer-top {
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer li a {
	text-decoration: none;
  	position: relative;

}
.footer-top > h3{
    color: #babec1;
  }

.footer li a:after {
  		content: '';
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		width: 0%;
  		border-bottom: 1px solid #eeeeee;
  		transition: 0.8s; 
}

.footer li a:hover:after {
		  width: 100%;
}
