.main{
 .main a:hover{
	border-bottom: 1px solid #ffffff;
	padding: 0.6rem 1rem;
 }

}
.accordion-title{
	
}
.vertical.footer, a{
	color: #ffffff;
}
.site-links {
	color: #000000;
}
.site-links:hover {
	color: #616161;
}
.menu-centered {
	margin-left: 15%;
}
