.secondary {
  text-align: center;
  border-radius: 1px;
  z-index: 4;
  top: 0;
  margin-bottom: 1rem;
  .close-button{
    color: #0277bd;
  }
}
.secondary > p{
  padding-top: 10px;
  color: #0277bd;
  font-size: 1rem;

}
.warning, .close-button {
	z-index: 4;
	top: 0;
  color: red;
}
