table {
	margin-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td > a {
	color: #335C7D
}

.back{
	padding-left: 1.7rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: "Times New Roman", Times, serif;
}